@reference "./styles.css";

[data-rehype-pretty-code-figure] {
	@apply mt-4 mb-4;
}
[data-rehype-pretty-code-figure] code {
	@apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-[#ECE6E6];
	counter-reset: line;
	box-decoration-break: clone;
}
[data-rehype-pretty-code-figure] [data-line] {
	@apply px-4 py-1;
}
[data-rehype-pretty-code-figure] [data-line-numbers] > [data-line]::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 1rem;
	text-align: right;
	color: #77ffe4;
}
[data-rehype-pretty-code-figure] .highlighted {
	@apply bg-[#FFE72C]/20 border-l-4 border-[#FFE72C];
}
[data-rehype-pretty-code-figure] .highlighted span {
	@apply relative;
}
[data-rehype-pretty-code-figure] [data-highlighted-chars] {
	@apply rounded-md bg-[#FFE72C]/20 p-1;
}
[data-rehype-pretty-code-title] {
	@apply py-2 px-4 text-sm rounded-t-lg border border-x-[#77FFE4];
	color: #77ffe4;
}
[data-rehype-pretty-code-title] + pre {
	@apply mt-0 border-t-0 rounded-t-none;
}
[data-rehype-pretty-code-figure] .diff.remove {
	@apply bg-[#ED4848]/20;
}
.diff.remove:before {
	content: "-";
	@apply text-[#ED4848];
}
.diff.add:before,
.diff.remove:before {
	position: absolute;
	left: 4px;
}
[data-rehype-pretty-code-figure] .diff.add {
	@apply bg-[#77FFE4]/20;
}
.diff.add:before {
	content: "+";
	@apply text-[#77FFE4];
}
